## Info
Deploy a tailscale relay on top of kubernetes to act as a gateway, relaying traffic from your Tailscale network onto your physical subnet

## Docs
Deploy a Tailscale <a href="https://tailscale.com/kb/1019/subnets/" target="_blank">relay node</a> to your cluster to securely access services on Porter from any device. For additional help and instructions, refer to our guide on <a href="https://www.porter.run/blog/guide-setting-up-a-tailscale-vpn-on-kubernetes" target="_blank">deploying Tailscale to Porter</a>.

## Disclaimer
This template is based off of mvisonneau's <a href="https://github.com/mvisonneau/helm-charts/tree/main/charts/tailscale-relay" target="_blank">Tailscale Helm chart</a>.