agent:
  image: "public.ecr.aws/o1j4x7p4/porter-agent:v3.1.3"
  cfAccessToken: ""
  porterHost: "dashboard.getporter.dev"
  porterPort: "80"
  porterToken: ""
  privateRegistry:
    enabled: false
    secret: ""
  clusterID: ""
  projectID: ""
  lokiURL: porter-agent-loki.porter-agent-system:9095
  lokiHTTPURL: http://porter-agent-loki.porter-agent-system:3100

resources:
  limits:
    cpu: 500m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 1024Mi

nodeSelector: {}
tolerations: []

loki:
  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
  enabled: true
  compactor:
    retention_enabled: true
    retention_delete_delay: 0h
  gateway:
    enabled: false
  isDefault: true
  minio:
    enabled: false
  monitoring:
    selfMonitoring:
      enabled: false
    lokiCanary:
      enabled: false
  test:
    enabled: false
  singleBinary:
    replicas: 1
    nodeSelector:
      porter.run/workload-kind: monitoring
    tolerations:
      - effect: NoSchedule
        key: porter.run/workload-kind
        value: "monitoring"
        operator: Equal
    persistence:
      enabled: true
      size: 100Gi
  limits_config:
    reject_old_samples: true
    # reject samples older than one week
    reject_old_samples_max_age: 168h
    max_concurrent_tail_requests: 50
    retention_period: 168h
  table_manager:
    retention_deletes_enabled: true
    retention_period: 168h
  storage_config:
    boltdb_shipper:
      shared_store: filesystem
  url: http://{{(include "loki.serviceName" .)}}:{{ .Values.loki.service.port }}
  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45
  livenessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    initialDelaySeconds: 45
  datasource:
    jsonData: {}
    uid: ""
  persistence:
    enabled: true
    size: 100Gi
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 500m
      memory: 1024Mi

promtail:
  enabled: true
  config:
    logLevel: info
    serverPort: 3101
    clients:
      - url: http://{{ .Release.Name }}-loki.{{ .Release.Namespace }}:3100/loki/api/v1/push
    # See https://github.com/grafana/helm-charts/blob/18282f1780c73130a89ba5e0ee0f8c5721f08b13/charts/promtail/values.yaml#L343
    snippets:
      extraRelabelConfigs:
      - source_labels:
          - __meta_kubernetes_namespace
          - __meta_kubernetes_pod_name
          - __meta_kubernetes_pod_annotation_helm_sh_revision
        target_label: porter_pod_name
        action: replace
        separator: '_'
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 256Mi
