## Info
LogDNA is a popular logging management system. To get started with LogDNA please obtain a [LogDNA ingestion key](https://app.logdna.com/pages/add-source).

## Docs 
For more information on LogDNA please visit their [documentation](https://docs.logdna.com/docs).