image:
  name: logdna/logdna-agent
  # tag is defined by the appVersion in the Chart file
  pullPolicy: IfNotPresent

logdna:
  name: logdna-agent

resources:
  requests:
    cpu: 20m
  limits:
    memory: 500Mi

daemonset:
  tolerations: []

priorityClassName: ""
extraEnv:
  - name: LOGDNA_USE_K8S_LOG_ENRICHMENT
    value: "always"
  - name: LOGDNA_K8S_METADATA_LINE_EXCLUSION
    value: "namespace:cert-manager, namespace:ingress-nginx, namespace:kube-system, namespace:monitoring, namespace:porter-agent-system, namespace:telemetry, label.app.kubernetes.io/instance:aws-vpc-cni"
  - name: LOGDNA_EXCLUSION_RULES
    value: "/var/log/chrony/**, /var/log/aws-routed-eni/**"
    
extraVolumeMounts: []
extraVolumes: []

serviceAccount:
  create: true
  name:

nodeSelector: {}

podAnnotations: {}

podSecurityContext:
  capabilities:
    add:
      - DAC_READ_SEARCH
    drop:
      - all

secretAnnotations: {}
