image:
  name: logdna/logdna-agent
  # tag is defined by the appVersion in the Chart file
  pullPolicy: IfNotPresent

logdna:
  name: logdna-agent
  key: ""

resources:
  requests:
    cpu: 20m
  limits:
    memory: 500Mi

daemonset:
  tolerations:
    - effect: NoSchedule
      key: porter.run/workload-kind
      value: "system"
      operator: Equal

priorityClassName: ""
extraEnv:
  - name: LOGDNA_USE_K8S_LOG_ENRICHMENT
    value: "always"
  - name: LOGDNA_K8S_METADATA_LINE_EXCLUSION
    value: "namespace:cert-manager, namespace:kube-system, namespace:monitoring, namespace:porter-agent-system, label.app.kubernetes.io/instance:aws-vpc-cni"

extraVolumeMounts: []
extraVolumes: []

serviceAccount:
  create: true
  name:
