## Info
Elasticsearch is an open source, distributed, RESTful search engine, usable by any language that speaks JSON and HTTP. Kibana is a flexible analytics and visualization platform that lets you set up dashboards for real time insight into your Elasticsearch data.

