## Info
[New Relic](https://newrelic.com/) is an all-in-one observability platform. 

## Docs 
For more information about monitoring Kubernetes with New Relic, please refer to the [New Relic documentation](https://docs.newrelic.com/docs/kubernetes-pixie/kubernetes-integration/get-started/introduction-kubernetes-integration/).
