{{- if .Values.ingress.enabled -}}
{{- $fullName := include "docker-template.fullname" . -}}
{{- $svcPort := .Values.service.port -}}
{{- $allHosts := concat .Values.ingress.hosts .Values.ingress.porter_hosts -}}
{{- $customPaths := .Values.ingress.custom_paths -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "docker-template.labels" . | nindent 4 }}
  annotations:
{{- include "ingressAnnotations" . | nindent 4 }}
spec:
{{- if hasKey .Values.ingress.annotations "kubernetes.io/ingress.class" }}
  ingressClassName: {{ index .Values.ingress.annotations "kubernetes.io/ingress.class" }}
{{- else }}
  ingressClassName: nginx
{{- end }}
  {{- if or (.Values.ingress.tls) (.Values.ingress.customTls.enabled) }}
  {{- if .Values.ingress.separateTlsPerCustomDomain}}
  tls:
    {{- range $allHosts }}
    - hosts:
        - {{ . | quote }}
      {{- if not $.Values.ingress.useDefaultIngressTLSSecret }}
      {{ if $.Values.ingress.wildcard }}
      secretName: wildcard-cert-tls
      {{ else if and $.Values.ingress.wildcard $.Values.ingress.setUniqueWildcardName }}
      secretName: '{{ include "docker-template.fullname" $ }}-{{ . | replace "." "-" }}'
      {{ else if $.Values.ingress.customTls.enabled }}
      secretName: {{ $.Values.ingress.customTls.customTlsSecret }}
      {{ else }}
      secretName: '{{ include "docker-template.fullname" $ }}-{{ . | replace "." "-" }}'
      {{ end }}
      {{- end }}
    {{- end }}
  {{- else }}
  tls:
    - hosts:
        {{- range $allHosts }}
        - {{ . | quote }}
        {{- end }}
      {{- if not .Values.ingress.useDefaultIngressTLSSecret }}
      {{ if .Values.ingress.wildcard }}
      secretName: wildcard-cert-tls
      {{ else if .Values.ingress.customTls.enabled }}
      secretName: {{ .Values.ingress.customTls.customTlsSecret }}
      {{ else }}
      secretName: {{ include "docker-template.fullname" . }}
      {{ end }}
      {{- end }}
  {{- end }}
  {{- end }}
  rules:
    {{- range $allHosts }}
      - host: {{ . | quote }}
        http:
          paths:
            {{ if gt (len $customPaths) 0 }}
            {{- range $customPaths }}
            - path: {{ .path }}
              pathType: ImplementationSpecific
              backend:
                service:
                  name: {{ .serviceName }}
                  port:
                    number: {{ .servicePort }}
            {{- end }}
            {{ else }}
            - pathType: ImplementationSpecific
              backend:
                service:
                  name: {{ $fullName }}
                  port:
                    number: {{ $svcPort }}
            {{ end }}
    {{- end }}
{{- end }}