{{- if and (not .Values.statefulset.enabled) (or (not .Values.bluegreen.disablePrimaryDeployment) (eq (len .Values.bluegreen.imageTags) 0)) -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "docker-template.fullname" . }}-porter-env
  labels:
    {{- include "docker-template.labels" . | nindent 4 }}
data:
  PORTER_RESOURCES_RAM: "{{ .Values.resources.requests.memory }}"
  PORTER_RESOURCES_CPU: "{{ .Values.resources.requests.cpu }}"
  PORTER_RESOURCES_REPLICAS: "{{ .Values.replicaCount }}"
  PORTER_POD_IMAGE_TAG: "{{ .Values.image.tag }}"
  {{- if .Values.awsEfsStorage }}
  {{- range .Values.awsEfsStorage }}
  PORTER_EFS_FILESYSTEM_ID_{{ upper $.Values.fullnameOverride | replace " " "_" | replace "-" "_" }}: "{{ .fileSystemId }}"
  {{- end }}
  {{- end }}
  {{- if .Values.global }}
  {{- if .Values.global.image }}
  {{- if .Values.global.image.tag }}
  PORTER_IMAGE_TAG: "{{ .Values.global.image.tag }}"
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if and (.Values.ingress) (.Values.ingress.hosts) }}
  PORTER_DOMAINS: "{{ .Values.ingress.hosts | join "," }}"
  {{- end }}
  PORTER_POD_REVISION: "{{ .Release.Revision }}"
  PORTER_APP_SERVICE_NAME: "{{ include "docker-template.fullname" . }}"
  {{- if .Values.stack.enabled }}
  PORTER_STACK_NAME: "{{ .Values.stack.name }}"
  PORTER_STACK_REVISION: "{{ .Values.stack.revision }}"
  {{- end }}
{{- end }}
