apiVersion: v1
kind: Service
metadata:
  name: {{ include "docker-template.fullname" . }}
  labels:
    {{- include "docker-template.labels" . | nindent 4 }}
  {{- if .Values.service.annotations }}
  {{- if gt (len .Values.service.annotations) 0}}
  annotations:
    {{- range $k, $v := .Values.service.annotations }}
    {{ $k }}: {{ $v }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  {{ if or .Values.ingress.enabled .Values.albIngress.enabled .Values.customNodePort.enabled }}
  type: NodePort
  {{ else }}
  type: ClusterIP
  {{ end }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
      {{- if and .Release.IsUpgrade (not .Values.ingress.enabled) }}
      nodePort: null
      {{- else if .Values.customNodePort.enabled }}
      nodePort: {{ .Values.customNodePort.port }}
      {{- end }}
  {{- range .Values.service.extraPorts }}
    - port: {{ .port }}
      targetPort: {{ .targetPort }}
      protocol: TCP
      name: {{ .name }}
      {{- if and $.Release.IsUpgrade (not $.Values.ingress.enabled) }}
      nodePort: null
      {{- end }}
  {{- end }}
  selector:
    {{- include "docker-template.selectorLabels" . | nindent 4 }}
    {{- if and .Values.bluegreen.enabled .Values.bluegreen.disablePrimaryDeployment (.Values.bluegreen.imageTags | len | eq 0 | not) }}
    porter.run/blue-green-value: {{ .Values.bluegreen.activeImageTag | quote }}
    {{- end }}