apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "docker-template.fullname" . }}
  labels:
    {{- include "docker-template.labels" . | nindent 4 }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 4 }}
    {{- end }}
spec:
  {{- if and (not .Values.keda.enabled) (not .Values.autoscaling.enabled) }}
  replicas: {{ .Values.replicaCount }}
  {{ end }}
  selector:
    matchLabels:
      {{- include "docker-template.selectorLabels" . | nindent 6 }}
  {{- if .Values.strategy }}
  strategy:
    type: {{ .Values.strategy }}
  {{- end }}
  template:
    metadata:
      annotations:
        helm.sh/revision: {{ .Release.Revision | quote }}
        {{- with .Values.podAnnotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "docker-template.selectorLabels" . | nindent 8 }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
        {{- if .Values.stack.enabled }}
        porter.run/stack-name: "{{ .Values.stack.name }}"
        {{- end }}
        porter.run/application-name: "{{ .Release.Name }}"
    spec:
      {{- if .Values.affinity }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- else if .Values.nodeGroups }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: porter.run/node-group-id
                    operator: In
                    values:
                      {{- range $nodeGroup := .Values.nodeGroups }}
                      - {{ $nodeGroup.id | quote }}
                      {{- end }}
      {{- end }}
      serviceAccountName: {{ include "docker-template.serviceAccountName" . }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      hostAliases:
        {{- toYaml .Values.hostAliases | nindent 8 }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- if .Values.enableEDNS0 }}
      dnsConfig:
        options:
          - name: edns0
      {{- end }}
      {{- if and .Values.image .Values.image.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.image.imagePullSecret }}
      {{- end }}
      initContainers:
        # this is used for ensuring the kubelet is ready on new nodes, and can injected any downward API keys
        - name: downward-api
          env:
          - name: DOWNWARD_API_ENV_KEY
            value: DOWNWARD_HOST_IP
          - name: DOWNWARD_HOST_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.hostIP
          image: ghcr.io/porter-dev/downward-api-init:latest
          imagePullPolicy: IfNotPresent
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- if .Values.global }}
          {{- if .Values.global.image }}
          image: "{{ .Values.global.image.repository }}:{{ .Values.global.image.tag }}"
          {{- end }}
          {{- else }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.global }}
          {{- if .Values.global.image }}
          {{- if and .Values.container.command (not (eq .Values.global.image.repository "public.ecr.aws/o1j4x7p4/hello-porter")) }}
          command:
          {{- range $command := trim .Values.container.command | splitList " " }}
          - {{ $command | quote }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- else }}
          {{- if (and .Values.container.command (not (or (eq .Values.image.repository "porterdev/hello-porter") (eq .Values.image.repository "public.ecr.aws/o1j4x7p4/hello-porter")))) }}
          command:
          {{- range $command := trim .Values.container.command | splitList " " }}
          - {{ $command | quote }}
          {{- end }}
          {{- end }}
          {{- end }}
          {{- if .Values.container.args }}
          args:
          {{- range $arg := .Values.container.args }}
          - {{ $arg | quote }}
          {{- end }}
          {{- end }}
          {{- if or (.Values.container.lifecycle.postStart) (.Values.container.lifecycle.preStop) }}
          lifecycle:
            {{- if .Values.container.lifecycle.postStart }}
            postStart:
              exec:
                command:
                {{- range $command := trim .Values.container.lifecycle.postStart | splitList " " }}
                - {{ $command | quote }}
                {{- end }}
            {{- end }}
            {{- if .Values.container.lifecycle.preStop }}
            preStop:
              exec:
                command:
                {{- range $command := trim .Values.container.lifecycle.preStop | splitList " " }}
                - {{ $command | quote }}
                {{- end }}
            {{- end }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.container.port }}
              protocol: TCP
          {{ if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{ end }}
          {{ if .Values.startupProbe }}
          startupProbe:
            {{- toYaml .Values.startupProbe | nindent 12 }}
          {{ end }}
          {{ if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{ end }}
          {{ if .Values.health.enabled }}
          livenessProbe:
            exec:
              command:
              {{- range $command := trim .Values.health.command | splitList " " }}
              - {{ $command | quote }}
              {{- end }}
            periodSeconds: {{ .Values.health.periodSeconds }}
            failureThreshold: {{ .Values.health.failureThreshold }}
          {{- end }}
          {{ if .Values.health.startupProbe.enabled }}
          startupProbe:
            exec:
              command:
              {{- range $command := trim .Values.health.startupProbe.command | splitList " " }}
              - {{ $command | quote }}
              {{- end }}
            periodSeconds: {{ .Values.health.startupProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.startupProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.health.startupProbe.initialDelaySeconds }}
          {{- end }}
          {{ if .Values.health.readinessProbe.enabled }}
          readinessProbe:
            exec:
              command:
              {{- range $command := trim .Values.health.readinessProbe.command | splitList " " }}
              - {{ $command | quote }}
              {{- end }}
            periodSeconds: {{ .Values.health.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.readinessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.health.readinessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.health.readinessProbe.timeoutSeconds }}
          {{- end }}
          {{ if .Values.health.livenessProbe.enabled }}
          livenessProbe:
            exec:
              command:
              {{- range $command := trim .Values.health.livenessProbe.command | splitList " " }}
              - {{ $command | quote }}
              {{- end }}
            periodSeconds: {{ .Values.health.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.health.livenessProbe.failureThreshold }}
            initialDelaySeconds: {{ .Values.health.livenessProbe.initialDelaySeconds }}
            timeoutSeconds: {{ .Values.health.livenessProbe.timeoutSeconds }}
          {{- end }}
          resources:
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
          {{ if .Values.resources.requests }}
          {{ if .Values.resources.requests.nvidiaGpu }}
              nvidia.com/gpu: {{ .Values.resources.requests.nvidiaGpu }}
          {{ end }}
          {{ end }}
            limits:
              {{- if .Values.resources.setCPULimits }}
                {{- if .Values.resources.limits.cpu }}
              cpu: {{ .Values.resources.limits.cpu }}
                {{- else }}
              cpu: {{ .Values.resources.requests.cpu }}
                {{- end }}
              {{- end }}
              {{- if .Values.resources.limits.memory }}
              memory: {{ .Values.resources.limits.memory }}
              {{- else }}
              memory: {{ .Values.resources.requests.memory }}
              {{- end }}
              {{- if .Values.resources.limits.nvidiaGpu }}
              nvidia.com/gpu: {{ .Values.resources.limits.nvidiaGpu }}
              {{- end }}
          {{ if or .Values.configMapRefs .Values.secretRefs }}
          envFrom:
          {{ range $configMapName := .Values.configMapRefs }}
            - configMapRef:
                name: {{ $configMapName }}
          {{ end }}
          {{ range $secretName := .Values.secretRefs }}
            - secretRef:
                name: {{ $secretName }}
          {{ end }}
          {{ end }}
          env:
            # Porter default environment variables
            - name: PORTER_RESOURCES_RAM
              value: "{{ .Values.resources.requests.memory }}"
            - name: PORTER_RESOURCES_CPU
              value: "{{ .Values.resources.requests.cpu }}"
            - name: PORTER_RESOURCES_REPLICAS
              value: "{{ .Values.replicaCount }}"          
            - name: PORTER_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: PORTER_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: PORTER_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: PORTER_NODE_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
            - name: PORTER_POD_IMAGE_TAG
              value: "{{ .Values.image.tag }}"
            {{- if .Values.global }}
            {{- if .Values.global.image }}
            {{- if .Values.global.image.tag }}
            - name: PORTER_IMAGE_TAG
              value: "{{ .Values.global.image.tag }}"
            {{- end }}
            {{- end }}
            {{- end }}
            - name: PORTER_APP_SERVICE_NAME
              value: "{{ include "docker-template.fullname" . }}"
            {{- if .Values.stack.enabled }}
            - name: PORTER_STACK_NAME
              value: "{{ .Values.stack.name }}"
            - name: PORTER_STACK_REVISION
              value: "{{ .Values.stack.revision }}"
            {{- end }}
            {{- range $key, $val := .Values.container.env.normal }}
            - name: {{ $key }}
            {{- $splVal := split "_" $val -}}
            {{- if and (len $splVal | eq 2) (eq $splVal._0 "PORTERSECRET") }}
              valueFrom:
                secretKeyRef:
                  name: {{ $splVal._1 }}
                  key: {{ $key }}
            {{- else }}
              value: {{ quote $val }}
            {{- end }}
            {{- end }}
            {{- range $syncedEnv := .Values.container.env.synced }}
            {{- range $key := $syncedEnv.keys }}
            - name: {{ $key.name }}
              {{- if $key.secret }}
              valueFrom:
                secretKeyRef:
                  name: {{ printf "%s.v%d" $syncedEnv.name ($syncedEnv.version | int) }}
                  key: {{ $key.name }}
              {{- else }}
              valueFrom:
                configMapKeyRef:
                  name: {{ printf "%s.v%d" $syncedEnv.name ($syncedEnv.version | int) }}
                  key: {{ $key.name }}
              {{- end }}
            {{- end }}
            {{- end }}
          {{ if .Values.datadogSocketVolume.enabled }}
          volumeMounts:
            - name: datadog-apm-socket
              mountPath: /var/run/datadog/apm.socket
            - name: datadog-dsd-socket
              mountPath: /var/run/datadog/dsd.socket
          {{ end }}
          {{ if .Values.pvc.enabled }}
          volumeMounts:
            - name: "{{ include "docker-template.fullname" . }}-storage"
              mountPath: {{ .Values.pvc.mountPath }}
          {{ end }}
          {{ if .Values.emptyDir.enabled }}
          volumeMounts:
            - name: "{{ include "docker-template.fullname" . }}-empty-dir-storage"
              mountPath: {{ .Values.emptyDir.mountPath }}
          {{ end }}
          {{ if and .Values.fileSecretMounts .Values.fileSecretMounts.enabled }}
          {{ range .Values.fileSecretMounts.mounts }}
          volumeMounts:
            - name: {{ .mountPath }}
              mountPath: "/etc/secrets/{{ .mountPath }}"
              readOnly: true
          {{ end }}
          {{ end }}
        {{- if .Values.cloudsql.enabled }}
        - name: cloud-sql-proxy
          image: gcr.io/cloudsql-docker/gce-proxy:1.17
          command:
            - "/cloud_sql_proxy"
            - "-instances={{- include "cloudsql.connectionString" . -}}"
            - "-credential_file=/secrets/service_account.json"
            {{ if .Values.terminationGracePeriodSeconds }}
            - "-term_timeout={{ .Values.terminationGracePeriodSeconds }}s"
            {{ end }}
          resources:
            limits:
              memory: 2Gi
              cpu: 2
            requests:
              memory: 128Mi
              cpu: 0.1
          securityContext:
            runAsNonRoot: true
          volumeMounts:
          - name: "sidecar-volume-{{ include "docker-template.fullname" . }}"
            mountPath: /secrets/
            readOnly: true
        {{ end }}
      {{- if gt (len .Values.nodeSelector) 0}}
      nodeSelector:
        {{- range $k, $v := .Values.nodeSelector }}
        {{ $k }}: {{ $v }}
        {{- end }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      tolerations:
        - key: "removable"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      {{- if .Values.tolerations }}
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- range $nodeGroup := .Values.nodeGroups }}
        - key: "porter.run/node-group-id"
          operator: "Equal"
          value: {{ $nodeGroup.id | quote }}
          effect: "NoSchedule"
      {{- end }}
      {{- if .Values.topology.enabled }}
      topologySpreadConstraints:
        - maxSkew: {{ .Values.topology.maxSkew }}
          topologyKey: {{ .Values.topology.topologyKey }}
          whenUnsatisfiable: {{ .Values.topology.whenUnsatisfiable }}
          {{- if .Values.topology.labelSelector.enabled }}
          labelSelector:
            matchLabels:
              {{- range $k, $v := .Values.topology.labelSelector.matchLabels }}
              {{ $k }}: {{ $v }}
              {{- end }}
          {{- end }}
      {{ end }}
      {{ if or .Values.pvc.enabled .Values.cloudsql.enabled .Values.emptyDir.enabled .Values.datadogSocketVolume.enabled .Values.fileSecretMounts.enabled }}
      volumes:
        {{ if .Values.datadogSocketVolume.enabled }}
        - hostPath:
            path: /var/run/datadog/apm.socket
            type: Socket
          name: datadog-apm-socket
        - hostPath:
            path: /var/run/datadog/dsd.socket
            type: Socket
          name: datadog-dsd-socket
        {{ end }}
        {{ if .Values.cloudsql.enabled }}
        - name: "sidecar-volume-{{ include "docker-template.fullname" . }}"
          secret:
            secretName: "{{ include "cloudsql.serviceAccountJSONSecret" . }}"
        {{ end }}
        {{ if .Values.pvc.enabled }}
        - name: "{{ include "docker-template.fullname" . }}-storage"
          persistentVolumeClaim:
            claimName: "{{ include "docker-template.fullname" . }}-pvc"
        {{ end }}
        {{ if .Values.emptyDir.enabled }}
        - name: "{{ include "docker-template.fullname" . }}-empty-dir-storage"
          emptyDir:
            {{- toYaml .Values.emptyDir.volumeOptions | nindent 8 }}
        {{ end }}
        {{ if .Values.fileSecretMounts.enabled }}
        {{ range .Values.fileSecretMounts.mounts }}
        - name: {{ .mountPath }}
          secret:
            secretName: "{{ .secretName }}"
        {{ end }}
        {{ end }}
      {{ end }}