## Info
[Datadog](https://www.datadoghq.com/) is a hosted infrastructure monitoring platform. 

## Docs 
For more information about monitoring Kubernetes with Datadog, please refer to the [Datadog documentation website](https://docs.datadoghq.com/agent/basic_agent_usage/kubernetes/).

To use Datadog on Porter refer to the [Porter docs](https://docs.porter.run/enterprise/deploying-addons/datadog).
