apiVersion: v2
name: newrelic-infra-operator
description: A Helm chart to deploy the New Relic Infrastructure Kubernetes Operator.
icon: https://newrelic.com/themes/custom/curio/assets/mediakit/new_relic_logo_vertical.svg
home: https://hub.docker.com/r/newrelic/newrelic-infra-operator
sources:
  - https://github.com/newrelic/newrelic-infra-operator
  - https://github.com/newrelic/newrelic-infra-operator/tree/main/charts/newrelic-infra-operator
version: 2.10.0
appVersion: 0.18.0
dependencies:
  - name: common-library
    version: 1.1.1
    repository: "https://helm-charts.newrelic.com"
maintainers:
  - name: alvarocabanas
    url: https://github.com/alvarocabanas
  - name: carlossscastro
    url: https://github.com/carlossscastro
  - name: sigilioso
    url: https://github.com/sigilioso
  - name: gsanchezgavier
    url: https://github.com/gsanchezgavier
  - name: kang-makes
    url: https://github.com/kang-makes
  - name: marcsanmi
    url: https://github.com/marcsanmi
  - name: paologallinaharbur
    url: https://github.com/paologallinaharbur
  - name: roobre
    url: https://github.com/roobre
keywords:
  - infrastructure
  - newrelic
  - monitoring
